
       section{
        display: flex;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 30px;
    }
     .half-half{
         width: 30%;
         margin-left: 5%;
     }
     .half-half img{
         width: 100px;
         margin-top: 10%;
         
     }


     section{
         display: flex;
     }
     .sami-sami img{
         margin-left: 30%;
         margin-top: 10%;
         width: 100%;

     }
     .salman-sami{
         margin-left: 10%;
         margin-top: 5%;
     }
     section{
         display: flex;
}


     .just-relax{
         float: left;
margin: 80px;
padding: 25px;
border: 1px solid #ddd;
border-radius: 25px;
}
h1{
 margin-left: 10%;
 margin-top: 10%;
}
     body{
         background-color: whitesmoke;
     }